{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block content %}
    <h1>Please, sign in.</h1>

    <form class="login-form" method="post">
        <label for="email">Email:</label>
        <input type="email" name="_email" id="email" value="{{ last_email }}">

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password">

        <label>
            <input type="checkbox" value="remember-me">Remember me
        </label>

        <button type="submit">Login</button>
    </form>

{% endblock %}
