.login-form {
    position: absolute;
    top: 15%;
    left: 33%;

    box-sizing: border-box;
    padding: 12rem 6rem;
    border-radius: 25px;

    background: linear-gradient(to bottom right, black, gray, white);
}

.form-group {
    margin-top: 1rem;
}