{% extends 'base.html.twig' %}

{% block title %}Moderator Dashboard{% endblock %}

{% block content %}
    <h1 class="font-weight-light">Moderator dashboard</h1>
    <a href="{{ url('register_complaint') }}">
        <button class="btn btn-outline-primary">Register new complaint</button>
    </a>
{% endblock %}
