<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
    {% endblock %}
</head>
{% block body %}
    <div class="background">
        <div class="background-overlay">
            <nav class="navbar">
                <a href="https://www.pxl.be"><img src="{{ asset('images/pxl-logo.png') }}" alt="PXL logo"></a>
                <a class="home-button" href="{{ url('home') }}">Home</a>
                <a class="login-button" href={{ url('login') }}>Login</a>
            </nav>
            <div class="content">{% block content %}{% endblock %}</div>
            <footer class="credits">
                {% block footer %}
                    Created by Peter Janssen & Ben Merken @ Hogeschool PXL, 2019.
                {% endblock %}
            </footer>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
